 /* 'status-open':task().status ==='OPEN',
    'status-in-progress':task().status ==='IN_PROGRESS',
    'status-done':task().status ==='DONE', */
    article{
        background-color:blueviolet;
        padding:1rem;
        border-radius: :5px;
        border-bottom:1px solid white;
    }
    .status-open
    {
        border-color:orange;
        background-color:rgb(180, 126, 231)
    }
    .status-open
    {
        border-color:rgb(167, 13, 13);
        background-color:rgb(224, 172, 49)
    }
    .status-open
    {
        border-color:rgb(4, 69, 19);
        background-color:rgb(126, 231, 163)
    }
    header
    {
        display: flex;
        gap:0.5rem;
        align-items: center;
    }
    h2
    {
        color:white;
    }